// modified_item_view: section layout widths
.point-of-sale-app {
  > .items-selector {
    grid-column: span 5 / span 5;
  }
  > .item-details-container {
    grid-column: span 5 / span 5;
  }
  > .customer-cart-container {
    grid-column: span 5 / span 5;
  }
  > .payment-container {
    grid-column: span 5 / span 5;
  }
}

// modified_item_view
.point-of-sale-app {
  > .items-selector {
    > .items-container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 0;
      > .item-wrapper {
        border-radius: initial;
        box-shadow: none;
        border-top: 1px solid var(--border-color);
        > .item-detail {
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          > .item-name {
            display: block;
          }
          .item-name--primary {
            display: flex;
            align-items: center;
          }
          .item-name--secondary {
            color: var(--text-muted);
          }
          .item-rate {
            white-space: nowrap;
            padding-left: var(--padding-sm);
          }
        }
      }
    }
  }
}

// item_idx
.point-of-sale-app {
  > .customer-cart-container {
    > .cart-container {
      > .abs-cart-container {
        > .cart-items-section {
          > .cart-item-wrapper {
            > .item-serial {
              margin-right: var(--margin-md);
              font-size: var(--text-sm);
              color: var(--gray-500);
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}

// price_list_in_cart
.point-of-sale-app {
  > .customer-cart-container {
    > .cart-container {
      > .abs-cart-container {
        > .cart-items-section {
          > .cart-item-wrapper {
            > .item-name-desc {
              > .item-desc {
                > .item-discount {
                  font-size: var(--text-xs);
                  background-color: var(--gray-300);
                  padding: 2px var(--padding-sm);
                  border-radius: var(--border-radius-sm);
                }
              }
            }
          }
        }
      }
    }
  }
}
